*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.dist filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/LICENSE filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.neon filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/bg/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/bg/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/cs/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/cs/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/da/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/da/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/de/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/de/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/en/uk/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/es/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/es/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/fi/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/fi/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/fr/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/fr/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/hu/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/hu/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/it/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/it/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/nb/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/nb/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/nl/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/nl/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/pl/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/pl/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/pt/br/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/pt/br/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/pt/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/pt/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/ru/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/ru/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/sv/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/sv/functions filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/tr/config filter=lfs diff=lfs merge=lfs -text
/phpspreadsheet/PhpSpreadsheet-master/src/PhpSpreadsheet/Calculation/locale/tr/functions filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.phar filter=lfs diff=lfs merge=lfs -text
/vendor/composer/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/ezyang/htmlpurifier/CREDITS filter=lfs diff=lfs merge=lfs -text
/vendor/ezyang/htmlpurifier/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/ezyang/htmlpurifier/VERSION filter=lfs diff=lfs merge=lfs -text
*.ser filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
/vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/README filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.twig filter=lfs diff=lfs merge=lfs -text
*.tool-versions filter=lfs diff=lfs merge=lfs -text
/vendor/maennchen/zipstream-php/LICENSE filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/bg/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/bg/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/cs/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/cs/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/da/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/da/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/de/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/de/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/en/uk/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/es/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/es/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/fi/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/fi/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/fr/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/fr/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/hu/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/hu/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/it/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/it/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/nb/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/nb/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/nl/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/nl/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/pl/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/pl/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/pt/br/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/pt/br/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/pt/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/pt/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/ru/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/ru/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/sv/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/sv/functions filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/tr/config filter=lfs diff=lfs merge=lfs -text
/vendor/phpoffice/phpspreadsheet/src/PhpSpreadsheet/Calculation/locale/tr/functions filter=lfs diff=lfs merge=lfs -text
/vendor/psr/http-client/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/psr/http-factory/LICENSE filter=lfs diff=lfs merge=lfs -text
/vendor/psr/http-message/LICENSE filter=lfs diff=lfs merge=lfs -text
